<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4-rc.1/web3.min.js"></script>
</head>

<body>
    <script>
        const contractAddress = '0x476059cD57800DB8eB88f67c2Aa38A6fCf8251e0';
        const abi = 
        [
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "projectIdx",
                        "type": "uint256"
                    }
                ],
                "name": "get_all_commit_logs",
                "outputs": [
                    {
                        "internalType": "string[]",
                        "name": "",
                        "type": "string[]"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "get_all_projects_name",
                "outputs": [
                    {
                        "internalType": "string[]",
                        "name": "",
                        "type": "string[]"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "projectIdx",
                        "type": "uint256"
                    },
                    {
                        "internalType": "uint256",
                        "name": "commitIdx",
                        "type": "uint256"
                    }
                ],
                "name": "get_comments",
                "outputs": [
                    {
                        "components": [
                            {
                                "internalType": "string",
                                "name": "from",
                                "type": "string"
                            },
                            {
                                "internalType": "string",
                                "name": "comment",
                                "type": "string"
                            }
                        ],
                        "internalType": "struct comment[]",
                        "name": "",
                        "type": "tuple[]"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "projectIdx",
                        "type": "uint256"
                    },
                    {
                        "internalType": "uint256",
                        "name": "commitIdx",
                        "type": "uint256"
                    }
                ],
                "name": "get_ipfs_hash",
                "outputs": [
                    {
                        "internalType": "string",
                        "name": "",
                        "type": "string"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "get_users",
                "outputs": [
                    {
                        "internalType": "string[]",
                        "name": "",
                        "type": "string[]"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "projectIdx",
                        "type": "uint256"
                    },
                    {
                        "internalType": "uint256",
                        "name": "commitIdx",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "_comment",
                        "type": "string"
                    }
                ],
                "name": "new_comment",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "uint256",
                        "name": "projectIdx",
                        "type": "uint256"
                    },
                    {
                        "internalType": "string",
                        "name": "_ipfsHash",
                        "type": "string"
                    },
                    {
                        "internalType": "string",
                        "name": "_log",
                        "type": "string"
                    }
                ],
                "name": "new_commit",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "string",
                        "name": "_name",
                        "type": "string"
                    }
                ],
                "name": "new_project",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "string",
                        "name": "_name",
                        "type": "string"
                    }
                ],
                "name": "sign_up",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            }
        ]
        var contract
        var account
        var walletAddress
        async function connect() {
            if (typeof window.ethereum !== 'undefined') {
                await ethereum.request({ method: "eth_requestAccounts" });
                window.web3 = new Web3(window.ethereum);
                window.ethereum.enable();
                var accounts = await web3.eth.getAccounts();
                account = accounts[0]
                contract = new web3.eth.Contract(abi, contractAddress);
                console.log(`account :${account}`)
            } else {
                alert("No wallet");
            }
        };
    </script>

    <body onload="connect();"></body>
    <script>
        async function getHash() {
            contract.methods.getHash().call().then(value => {
                console.log(`目前值：${value}`);
            });
        }
        async function sendHash(value) {
            contract.methods.sendHash(value).send({ from: account })
                .then(() => console.log(`hash:${value}`));
        }
    </script>
    <input type="button" value="getHash" onclick="getHash();" class="btn"></input>
    <input type="button" value="sendHash" onclick="sendHash(`24`);" class="btn"></input>
    <form action="" method=post enctype=multipart/form-data>
        <p><input type=file name=file>
            <input type=submit value=Upload>
    </form>
</body>

</html>